@page "/about"
@layout LandingLayout

<PageTitle>About</PageTitle>

<section class="md:pt-40">
    <div class="container mx-auto px-8 lg:flex">
        <div class="text-center lg:text-left lg:w-1/2">
            <h1 class="text-5xl lg:text-6xl xl:text-8xl font-bold leading-none">
                About
            </h1>
        </div>
    </div>
</section>

@code {

}
