<mat-stepper orientation="vertical" [linear]="true" #stepper>

  <mat-step [stepControl]="selectDates.dateForm">
    <ng-template matStepLabel>When are they staying</ng-template>
    <div class="p-4 w-full lg:w-3/4 xl:w-1/2">
      <app-select-dates #selectDates />
    </div>
  </mat-step>

  <mat-step [stepControl]="selectCustomer.customersForm">
    <ng-template matStepLabel>New or existing customer</ng-template>
    <div class="p-4 w-full lg:w-3/4 xl:w-1/2">
      <app-select-customer #selectCustomer />
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Which animals are staying</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-stepper>



  