<mat-stepper orientation="vertical" [linear]="true" #stepper>

  <mat-step [stepControl]="dateForm">
    <ng-template matStepLabel>When are they staying</ng-template>
    <div class="p-4 w-full lg:w-3/4 xl:w-1/2">
      <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
        <div class="flex-col">
          <mat-form-field class="w-full">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="from">
              <input matEndDate placeholder="End date" formControlName="to">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <div class="flex justify-between">
            <button mat-button type="button" (click)="reset()">Reset</button>
            <button mat-flat-button matStepperNext type="submit">Next</button>
          </div>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="customersForm">
    <ng-template matStepLabel>New or existing customer</ng-template>
    <div class="p-4 w-full lg:w-3/4 xl:w-1/2">
      <form [formGroup]="customersForm">
        <div class="flex-col">
          <mat-form-field class="w-full">
            <mat-label>Customer</mat-label>
            <input type="text"
                   placeholder="Select customer"
                   aria-label="Customer"
                   matInput
                   formControlName="selectedCustomer"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (customer of filteredOptions | async; track customer) {
              <mat-option [value]="customer">{{customer}}</mat-option>
            }
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="flex justify-between">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-flat-button matStepperNext>Next</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Animals</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-stepper>



  