<main class="relative">
    <section class="bg-gray-100 text-gray-800 flex justify-center px-4">
        <div class="container flex flex-col pb-4 sm:py-12 lg:py-80 lg:flex-row lg:justify-between">
            <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-lg lg:text-left">
                <h1 class="text-5xl font-bold sm:text-7xl">
                    Bookings<br class="">
                    made simple
                </h1>
                <p class="mt-6 mb-8 text-lg sm:mb-12">
                    Make bookings for your busy cattery or kennel business in a simple and straightforward way.
                    <br class="hidden md:inline lg:hidden">
                </p>
                <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
                  <app-register-button text="Try for free" classes="px-16 py-4 text-xl font-semibold rounded bg-teal-600 text-gray-50 shadow-xl hover:shadow-none cursor-pointer" />
                </div>
            </div>
            <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                <img src="images/screenshot.png" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
            </div>
        </div>
    </section>

    <section class="bg-white text-gray-800 flex flex-col items-center px-4">
      <div class="container">
        <div class="mb-12 mt-6">
            <h1 class="text-4xl font-semibold leading-tight text-center">Take the hassle out of your day and increase bookings</h1>
        </div>
        <div class="space-y-12 mb-12">
            <div class="flex flex-col overflow-hidden rounded-md lg:flex-row">
                <img src="/images/screenshot.svg" alt="" class="h-80 bg-gray-500 aspect-video">
                <div class="flex flex-col justify-center p-6 bg-white">
                    <h3 class="text-3xl font-bold">Simple and straightforward - Designed for your business</h3>
                    <p class="my-6 text-gray-600">We know you don't need hundreds of features so we focus on what matters most - taking bookings</p>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-md lg:flex-row-reverse">
                <img src="/images/screenshot.svg" alt="" class="h-80 bg-gray-500 aspect-video">
                <div class="flex flex-col justify-center p-6 bg-white">
                    <h3 class="text-3xl font-bold">Easily check availability and provide quotes</h3>
                    <p class="my-6 text-gray-600">Increase bookings by being able to give potential customers a quote easily and quickly.</p>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-md lg:flex-row">
                <img src="/images/screenshot.svg" alt="" class="h-80 bg-gray-500 aspect-video">
                <div class="flex flex-col justify-center p-6 bg-white">
                    <h3 class="text-3xl font-bold">Detailed analysis</h3>
                    <p class="my-6 text-gray-600">See an analysis of historical bookings to help you make better decisions for your business.</p>
                </div>
            </div>
        </div>
      </div>
    </section>

    <section class="bg-gray-100 text-gray-800 flex flex-col items-center px-4">
        <div class="container">
            <div class="mb-12 mt-6 space-y-4 flex flex-col items-center">
                <h1 class="text-4xl font-semibold leading-tight">Pricing</h1>
                <p class="px-4 sm:px-8 lg:px-24">We keep our pricing low by only providing the core features you need</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 auto-rows-fr max-w-full mb-12">
                <div class="flex flex-col overflow-hidden border-2 rounded-md border-gray-300">
                    <div class="flex flex-col items-center justify-center px-2 py-8 space-y-4 bg-white">
                        <p class="text-lg font-medium">30-day Trial</p>
                        <p class="text-5xl font-bold">
                            £0
                        </p>
                    </div>
                    <div class="flex flex-col items-center justify-center px-2 py-8 bg-white">
                        <ul class="self-stretch flex-1 space-y-2">
                            <li class="flex justify-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-teal-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                                </svg>
                                <span>All premium features</span>
                            </li>
                            <li class="flex justify-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-teal-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                                </svg>
                                <span>No restrictions</span>
                            </li>
                            <li class="flex justify-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-teal-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                                </svg>
                                <span>No obligation</span>
                            </li>
                        </ul>
                        <app-register-button text="Try for free" classes="px-8 py-3 mt-6 text-lg font-semibold rounded sm:mt-12 bg-teal-600 text-gray-50 shadow-xl hover:shadow-none cursor-pointer" />
                    </div>
                </div>
                <div class="flex flex-col overflow-hidden border-2 rounded-md border-teal-600 bg-white">
                    <div class="flex flex-col items-center justify-center px-2 py-8 space-y-4 bg-white">
                        <p class="text-lg font-medium">Monthly</p>
                        <p class="text-5xl font-bold">
                            £10
                        </p>
                    </div>
                    <div class="flex flex-col items-center justify-center px-2 py-8 bg-white">
                        <ul class="self-stretch flex-1 space-y-2">
                            <li class="flex justify-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-teal-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                                </svg>
                                <span>Rolling monthly subscription</span>
                            </li>
                            <li class="flex justify-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-teal-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                                </svg>
                                <span>No upfront or hidden costs</span>
                            </li>
                            <li class="flex justify-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-teal-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                                </svg>
                                <span>Cancel anytime</span>
                            </li>
                        </ul>
                        <app-register-button text="Try for free" classes="px-8 py-3 mt-6 text-lg font-semibold rounded sm:mt-12 bg-teal-600 text-gray-50 shadow-xl hover:shadow-none cursor-pointer" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flex justify-center px-4">
        <div class="container grid max-w-screen-xl grid-cols-1 gap-8 py-16 rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32">
            <div class="flex flex-col justify-between">
                <div class="space-y-2">
                    <h2 class="text-4xl font-bold leading-tight lg:text-5xl">Let's talk!</h2>
                    <div class="text-gray-600">We will answer any questions you have</div>
                </div>
                <img src="images/image.svg" alt="Contact our customer support" class="p-6 h-52 md:h-64">
            </div>
            <form novalidate="" class="space-y-6" data-np-autofill-form-type="identity" data-np-checked="1" data-np-watching="1">
                <div>
                    <label for="name" class="text-sm">Full name</label>
                    <input id="name" type="text" placeholder="" class="w-full p-3 rounded bg-gray-100" data-np-autofill-field-type="fullName">
                </div>
                <div>
                    <label for="email" class="text-sm">Email</label>
                    <input id="email" type="email" class="w-full p-3 rounded bg-gray-100" data-np-autofill-field-type="email">
                </div>
                <div>
                    <label for="message" class="text-sm">Message</label>
                    <textarea id="message" rows="3" class="w-full p-3 rounded bg-gray-100"></textarea>
                </div>
                <button type="submit" class="self-auto content-center justify-center p-3 text-sm font-bold tracking-wide uppercase rounded bg-teal-600 text-gray-50">Send Message</button>
            </form>
        </div>
    </section>
</main>