@inherits LayoutComponentBase
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div>
            <div>
                <NavMenu />
            </div>

            <main>
                <div>
                    <Login />
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article>
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page.</p> 
    </NotAuthorized>
</AuthorizeView>