<input type="checkbox" title="Navigation menu" />

<div onclick="document.querySelector('.navbar-toggler').click()">
    <nav>
        <div>
            <NavLink href="dashboard" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div>
            <NavLink href="weather">
                <span aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

