<mat-sidenav-container>
    <mat-sidenav #drawer fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Cattery App</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="mdc-list-item--activated" routerLink="/app/dashboard">Dashboard</a>
        <a mat-list-item routerLinkActive="mdc-list-item--activated" routerLink="/app/booking">Bookings</a>
        <a mat-list-item routerLinkActive="mdc-list-item--activated" routerLink="/app/customers">Customers</a>
        <a mat-list-item routerLinkActive="mdc-list-item--activated" routerLink="/app/pens">Pens</a>
        <a mat-list-item routerLinkActive="mdc-list-item--activated" routerLink="/app/reports">Reports</a>
        <a mat-list-item routerLinkActive="mdc-list-item--activated" routerLink="/app/help">Help</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <app-logout-button />
        <app-account-button />
      </mat-toolbar>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
  