<AuthorizeView>
    <Authorized>
        <div class="items-center flex-shrink-0 hidden lg:flex">
            <a href="/dashboard" class="self-center px-8 py-3 font-semibold rounded">Dashboard</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="items-center flex-shrink-0 hidden lg:flex">
            <a href="/account/login" class="self-center px-8 py-3 font-semibold rounded">Sign in</a>
            <a href="/account/signup" class="self-center px-8 py-3 font-semibold rounded bg-teal-600 text-gray-50">Sign up</a>
        </div>
        <button class="p-4 lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </NotAuthorized>
</AuthorizeView>