<form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
  <div class="flex-col">
    <mat-form-field class="w-full">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="from">
        <input matEndDate placeholder="End date" formControlName="to">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="flex justify-between">
      <button mat-button type="button" (click)="reset()">Reset</button>
      <button mat-flat-button matStepperNext type="submit">Next</button>
    </div>
  </div>
</form>